.our-team{
  padding-bottom: 40px;

  &__container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .text-block{
      flex: 2 1;
    }
  }

  .image-slider{
    margin-top: 64px;
  }
}

@media screen and (max-width: 600px){
  .our-team {
    &__container {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
    }
  }
}