@import "../../styles/variables";

.portfolio{
  padding-top: 90px;
  padding-bottom: 50px;

  .width-wrapper{
    @include columnCenter;
  }

  .text-block{
    text-align: center;
  }

  .image-cards{
    margin-top: 68px;
    opacity: 0;

    &.entering{
      @include scaleDownAm;
    }
  }

  .category-nav{
    margin-top: 35px;
    opacity: 0;

    &.entering{
      @include scaleDownAm;
    }
  }

  .action-button{
    margin-top: 64px;
    opacity: 0;

    &.entering{
      @include translateUpAm();
    }
  }
}