$mainFont: 'Epilogue', sans-serif;
$accentColor: #28293E;
$mainColor: #fdf0e9;
$mainAccentColor: #F3D1BF;
$border-radius: 6px;
$textLightAccent: #EF6D58;
$textLightGray: rgba(255, 255, 255, 0.64);
$textDark: rgb(57, 20, 0);
$textDarkGray: rgba(57, 20, 0, 0.64);
$orchid: #B550F8;
$transition: .2s ease-out;
$boxShadow: 0px 3px 9px rgba(57, 20, 0, 0.18);
$shortDuration: .3s;
$mediumDuration: .5s;
$longDuration: .7s;

@mixin translateUpAm($delay: $longDuration){
  animation: translateUpLong .5s ease-out $delay forwards;
}

@mixin scaleDownAm($delay: $mediumDuration){
  animation: scaleDown $mediumDuration ease-out $delay forwards;
}

@mixin bodyHorizontalPadding {
  padding-left: var(--bodyHorizontalPadding);
  padding-right: var(--bodyHorizontalPadding);
}

@mixin outline ($color, $outline-width: 1px){
  outline: $outline-width solid $color;
  outline-offset: 5px;
  border-radius: 3px;
}

@mixin smallText{
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

@mixin mediumText{
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

@mixin bigText {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

@mixin h1{
  font-weight: 800;
  font-size: 72px;
  line-height: 80px;
  letter-spacing: -2px;
}

@mixin h2{
  font-weight: 800;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
}

@mixin h3{
  font-size: 40px;
  line-height: 48px;
  font-weight: 800;
}

@mixin h4{
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

@mixin columnCenter{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes rightTranslate {

  0%{
    transform: translateX(-100%);
  }

  40%{
    transform: translateX(150px);
  }

  100%{
    transform: translateX(0px);
  }
}

@keyframes leftTranslate {

  0%{
    transform: translateX(100%);
  }

  40%{
    transform: translateX(-150px);
  }

  100%{
    transform: translateX(0px);
  }
}

@keyframes rightTranslateReverse {

  0%{
    transform: translateX(0px);
  }

  40%{
    transform: translateX(150px);
  }

  100%{
    transform: translateX(-1500px);
  }
}

@keyframes translateUp {
  0%{
    transform: translateY(200px);
    opacity: 0;
  }

  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes translateDown {
  0%{
    transform: translateY(-200px);
    opacity: 0;
  }

  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes translateUpLong {
  0%{
    transform: translateY(500px);
    opacity: 0;
  }

  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes scaleDown {
  0%{
    transform: scale(1.3);
    opacity: 0;
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes showAm {
  0%{
    opacity: 0;
  }
  100%{
    opacity: var(--opacity);
  }
}

@keyframes rightAm {
  0%{
    opacity: 0;
    transform: translate(-250px);
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes leftAm {
  0%{
    opacity: 0;
    transform: translate(250px);
  }

  100%{
    opacity: var(--opacity);
    transform: translate(0);
  }
}