@import "../../styles/variables";

.testimonials{
  padding-top: 100px;
  padding-bottom: 10px;

  .width-wrapper{
    @include columnCenter;
  }

  &-block,
  .action-button{
    margin-top: 64px;
  }

  .action-button,
  .testimonials-block{
    opacity: 0;
  }
}